* {
    margin: 0;
    padding: 0;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 660px;

}
        
table, th, td {
    border: 1px solid black;
    padding: 1%;
}

button[type=button]:first-of-type {
    width: 12%;
}

button[type=button]:last-of-type {
    width: 8%;
}